.cards {
  box-sizing: border-box;
  max-width: 920px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 100px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width:1149px) {
  .cards {
    column-gap: 80px;
  }
}
