.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width:1128px) {
  .table {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
